*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* services */

#service {
    width: 100%;
    padding: 70px 0;
}

.title-text{
    text-align: center;
    padding-bottom: 70px;
}

.title-text p {
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}

/* Leaf */
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius:35px;
}

.title-text h1 {
    font-size: 50px; ;
}

.services-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.services{
    flex-basis: 50%;
}

.services-img{
    flex-basis: 50%;
    margin:auto;
}

.services-img img{
    width: 70%;
    border-radius: 10px;
}

.services h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
}

.services-des{
    display: felx;
    align-items: center;
    margin-bottom: 40px;
}

.fa-solid{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    
}
.service-text{
    padding-bottom: 45px;
}

.service-text p {
    padding: 0 20px;
    text-align: initial;
}